@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.collapse:not(.collapse-close)
  :where(input[type='checkbox']:checked ~ .collapse-content) {
  padding-bottom: 0;
}

.logo {
  font-family: 'Play', sans-serif;
}

.btn-group {
  top: 54rem;
}

.input:focus {
  outline: none;
}

.input {
  overflow: hidden;
}

.input-group {
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.01),
    0 8px 10px -6px rgb(0 0 0 / 0.06);
  overflow: hidden;
  border-bottom-right-radius: 0.5rem;
}

.alert {
  animation: disappear 3s 1;
}

@keyframes disappear {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fc-daygrid-day-frame .fc-scrollgrid-sync-inner {
  position: relative;
}

a.weight {
  background-color: white;
  border: 0.1rem solid rgb(226, 226, 226);
  text-align: center;
  font-weight: bold;
  width: 4rem;
  border-radius: 3rem;
  position: absolute;
  top: 4.5rem;
  left: 3rem;
}

.fc-event-time {
  display: none;
}

/* Small Calendar */

.smallCalendar .fc {
  height: 10rem;
  width: 10rem;
  font-size: 0.6rem;
}

.smallCalendar .fc .fc-daygrid-day-frame.fc-scrollgrid-sync-inner {
  height: 1.1rem;
  overflow: hidden;
}
.smallCalendar
  .fc
  .fc-view-harness
  .fc-scrollgrid-section.fc-scrollgrid-section-header {
  display: none;
}

.smallCalendar .fc .fc-header-toolbar.fc-toolbar {
  margin-bottom: 0.3rem;
}
.smallCalendar
  .fc
  .fc-daygrid-day.fc-day.fc-day-sun.fc-day-past.fc-day-other
  .fc-daygrid-day-frame.fc-scrollgrid-sync-inner {
  width: 0.1rem;
}
.smallCalendar .fc .fc-toolbar-title {
  font-size: 0.75rem;
}
.smallCalendar .fc .fc-today-button {
  display: none;
}

.smallCalendar .fc .fc-button-group .fc-prev-button,
.smallCalendar .fc .fc-button-group .fc-next-button {
  width: 1rem;
  height: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.smallCalendar .fc .fc-button-group .fc-icon,
.smallCalendar .fc .fc-button-group .fc-icon {
  font-size: 0.5rem;
}
